[package]
name = "ci-id-bin"
version = "0.3.0"
edition = "2021"
authors = ["Jussi Kukkonen <jkukkonen@google.com>"]
description = "CLI app to detect ambient OIDC credentials on CI systems"
repository = "https://github.com/jku/ci-id"
license = "Apache-2.0"

[[bin]]
name = "ci-id"
path = "src/main.rs"
doc = false

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
env_logger = "0.11.8"
ci-id = { path = "..", version = "0.3.0" }
