version: 2.1
jobs:
  test:
    docker:
      - image: cimg/rust:1.91
    steps:
      - checkout
      - restore_cache:
          key: cargo-{{ checksum "Cargo.lock" }}
      - run:
          command: cargo build --workspace
      - run:
          command: RUST_LOG=debug cargo run -p ci-id-bin sigstore
      - run:
          command: RUST_LOG=debug cargo run -p ci-id-bin
      - save_cache:
          key: cargo-{{ checksum "Cargo.lock" }}
          paths:
            - ~/.cargo
workflows:
  build-and-test:
    jobs:
      - test
