name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --workspace
    - name: Run tests
      run: cargo test --workspace
    - name: Test run binary
      run: |
        RUST_LOG=debug cargo run -p ci-id-bin sigstore
        RUST_LOG=debug cargo run -p ci-id-bin

  lint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: Swatinem/rust-cache@v2
    - name: fmt
      run: cargo fmt --check
    - name: clippy
      run: cargo clippy --workspace -- -D warnings
    - name: doc
      run: cargo doc
