on:
  release:
    types:
      - published

name: release

jobs:
  publish-crates:
    runs-on: ubuntu-latest
    environment: crates.io
    steps:
      - uses: actions/checkout@v6

      - name: publish ci-id to crates.io
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CARGO_REGISTRY_TOKEN }}"
        run: cargo publish

      - name: publish ci-id-bin to crates.io
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CARGO_REGISTRY_TOKEN }}"
        run: cargo publish --manifest-path bin/Cargo.toml
